<div class="card" >
  <div class="card-body">

    <h2 class='card-title d-flex justify-content-between mb-4'>
      <span> <b> <a class="text-decoration-none bg-color-none" href="<%=tasks_path%>"> Tasks </a> </b> </span>  
      <div class="input-group-append"> 
        <%= link_to 'Sort by Deadline', tasks_path(sort_expired: "true"), class: 'btn btn-outline-primary mr-5' %> 
        <%= link_to 'Sort by Priority', tasks_path(sort_priority: "true"), class: 'btn btn-outline-primary ml-5' %> 
      </div>
      <%= link_to 'New Task', new_task_path, class: 'btn btn-primary text-light' %> 
    </h2>

    
        
        <%= form_with url: tasks_path, method: :get, local: true do |form| %>

          <div class="input-group mb-4"> 
            <%= form.text_field :name, class:'form-control' %>
            <div class="input-group-append">  
              <%= form.submit 'Search', class: 'btn btn-outline-primary mr-2' %> 
              <strong> <%= form.label :status %> </strong>
              <%= form.select :number, Task.statuses.keys.to_a, { include_blank:'Please select'} %> 
            </div>
          </div>
        <% end %>    
    
      <% @tasks.each do |task| %>
      <%= link_to task, class: 'text-decoration-none text-primary' do %>
        <div class="card project-card mb-4" >
          <div class="card-body">
            
            <h5 class='card-title'> <b> <%= task.name %> </b> </h5>
            <span class="badge badge-<%=task.badge_color%> mb-2">
              <%= task.status %>
            </span>
            <p> <%= task.retail %> </p>
            <p>
              <%= task.dead_line.strftime("%Y-%m-%d") %>
            </p>
            <p>
               <%= task.priority %>
            </p>
            <p>
               <%= task.user.name %>
            </p>

          </div>
        </div>
      <% end %>
    <% end %> 
    
      <%= paginate @tasks %>
        
  </div>
</div>
